/* general css */
body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 100px;
}

h1 {
  padding-top: 20px;
}

.hi {
  padding-bottom: 25px;
}

h5 {
  padding-bottom: 10px;
}

a {
  color: rgb(238,182,42);
  text-decoration: none;
}

.basics-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.basics-row {
  padding-bottom: 15px;
}

.spotify-player {
    padding-top: 20px;
  }

a:hover {
  color:#FBC02D;
  text-decoration: none;
}

.tinted_pic {
  background: rgba(77, 175, 80, 0.3);
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  padding-top: 50px;
  padding-bottom: 15px;
}

.divider {
  padding-top: 50px;
}

.hi {
  padding-top: 30px;
}

.text_spacing1{
  padding-top: 40px;
  padding-bottom: 25px;
}

.text_spacing{
  padding-top: 40px;
}

h7 {
  padding-top: 40px;
}

footer {
  padding-top: 40px;
  position: absolute;
  right: 0;bottom:0;left:0;
  height:100px;
}

.container-footer {
  padding-bottom: 50px;
  font-size: 75%;
}

.description {
  padding-top: 20px;
}

.fixed-bottom {
  text-align: center;
}

.container-spotify {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  text-align: center;
}

iframe {
  opacity: 90%;
}

/* icon css */
.basic-icon,
.fa-adobe {
  margin-right: 50px;
  float: left;
  padding-top: 5px;
}

.fa-hands-helping{
  margin-right: 46px;
  float: left;
  padding-top: 5px;
}

.fa-user-graduate{
  margin-right: 52px;
  float: left;
  padding-top: 5px;
}

.fa-city{
  margin-right: 46px;
  float: left;
  padding-top: 5px;
}

.fa-envelope-open-text,
.fa-linkedin,
.fa-twitter {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 7px;
}
